streamlit==1.55.0
pandas
numpy
google-cloud-bigquery
google-api-core
google-auth
sqlalchemy-bigquery
db-dtypes
SQLAlchemy
langchain
langchain-community
langchain-core
langchain-groq
langgraph
google-generativeai
python-dotenv
tabulate
requests
